BACKEND_API_URL=https://URL-DO-BACKEND.onrender.com/api
OPERATOR_TOKEN=token_seguro
CAMERA_ID=campo-01
LOCAL_RTSP_URL=rtsp://usuario:senha@192.168.0.6:554/onvif1
RTSP_TRANSPORT=tcp
DEFAULT_REPLAY_SECONDS=15
SEGMENT_TIME_SECONDS=2
SEGMENT_WRAP_COUNT=120
POLL_INTERVAL_SECONDS=3
